body {
  margin: auto;
  background-color: rgb(224, 247, 248);
  font-family: 'Nova Mono', monospace;
  font-size: large;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  background: rgb(224, 255, 220);
  border: 2rem, outset, rgba(106, 131, 131, 0.158);
  align-items: center;
  justify-content: center;
  height: 8rem;
  font-weight: bolder;
}

nav a {
  padding: 2rem;
}

a {
  text-decoration: none;
}

nav a:hover {
  color: rgba(100, 99, 99, 0.281);
}

h1 {
  text-align: center;
}

h2 {
  margin-left: 2rem;
}

.filler p {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 2rem;
  border: 10px, outset, rgba(142, 243, 243, 0.479);
  border-radius: 10%;
}

.about {
  width: 40%;
  margin: auto;
  line-height: 2.5rem;
  font-size: 1.5rem;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.projects img {
  border-radius: 50%;
}
.projects img:hover {
  width: 230px;
  height: 230px;
}

.projects p {
  display: flex;
  justify-content: space-evenly;
}

.services {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
}

.services li {
  list-style: none;
  background: rgb(224, 255, 220);
  border-radius: 2rem;
  padding: 2rem;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.contact img {
  border-radius: 50%;
  padding: 2rem;
}



footer {
  padding: 2rem; 
  text-align: center;
  margin-top: auto;  
  background: rgb(224, 255, 220);
  border: 2rem, outset, rgba(106, 131, 131, 0.158);
  border-radius: 2rem;
  font-weight: bold;
}